doctype html
html
    head
        title title
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    body
        script(src="./bundle.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")